
<br>
<br>
<div class="container">
  <table class="table table-striped" style="background:#fff;">
    <% @alert_count.alerts.order("created_at DESC").each do |alert| %>
      <tr>
        <td>
          <% if alert.url %>
          <a href="<%= alert.url %>"><%= alert.title %></a>
        <% else %>
          <%= alert.title %>
        <% end %>
        </td>
          <td>
            <% if "#{alert.created_at.strftime("%Y-%m-%d")}" == "#{Time.now.strftime("%Y-%m-%d")}" %>
              今日
            <% elsif "#{alert.created_at}" < "#{1.days.since}" %>
              昨日
            <% elsif "#{alert.created_at}" < "#{7.days.since}" %>
              <%= alert.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
            <% end %>

          </td>
          <td>
          </td>
          <td>
            <form action="/alert_delete/<%= alert.id %>" method="post">
              <button type="submit" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </form>
          </td>
          </th>
        <% end %>
  </table>
</div>
