<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <link rel="shortcut icon" href="./img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/base.css"><!-- CSS参照 -->
        <!-- ▼Googleフォント -->
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css' href="base.css">
        <script src="/form/jquery.validationEngine.js"></script>
        <script src="/form/jquery.validationEngine-ja.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/form/validationEngine.jquery.css">
        <script>
$(function(){
    jQuery("#form_1").validationEngine();
});
        </script>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript">
$('form').on('submit',  function () {
    $(this).find('input:submit').attr('disabled',  'disabled').val('送信中...');
});
        </script>
        <title>Edit</title>
    </head>
    <body class="main">
        <!-- Header -->
        <header class="navbar navbar-default" style="margin-bottom:0;">
            <div class="container">
                <div class="navbar-header">
			<a href="/"><img src="/img/LifeChatIcon.gif" class="navbar-brand"></a>
                    <a href="/friends" class="navbar-brand">Friends・</a>
                    <a href="/room" class="navbar-brand">Room・</a>
                    <a href="/tl" class="navbar-brand">TimeLine</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <!-- 検索バー -->
                        <form class="navbar-form navbar-left" role="search" action="/search" method="POST">
                            <div class="form-group">
                                <input type="text" name="search" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="glyphicon glyphicon-search btn btn-default"></button>
                        </form>
                    </li>
                    <!-- 検索バーend -->

                    <!-- ユーザー名のポップアップ -->
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                @<%= User.find(session[:user]).user_name %>
                                <span class="glyphicon glyphicon-user"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>
                                    <form action="/edit/<%= User.find(session[:user]).id %>" method="post">
                                        <input type="submit" value="アカウント情報を変更" style="background:transparent;text-decoration:underline;">
                                    </form>
                                </li>
                                <li>
                                    <form action="/logout" method="get">
                                        <input type="submit" value="ログアウト" style="background:transparent;text-decoration:underline;">
                                    </form>
                                </li>
                        </div>
                    </li>
                            </ul>
            </div>
            <!-- ユーザー名のポップアップend -->
            </nav>
        </header>
        <!-- Header終了 -->

        <br><br>

        <center>
            <div class="font" style="color: #7b7a65;">
                <h1>EDIT</h1>
            </div>
            <h2>アカウント内容変更</h2>
        </center>
        <div class="box2">
            <form id="form_1" action="/renew/<%= @users.id %>" method="post">
                <form class="form-container">
                    <div>
                        <label>名前:</label>
                        <input type="text" name="name" value="<%= @users.name %>" class="form-control" placeholder="山田太郎" aria-describedby="sizing-addon2">
                    </div>
                    <div>
                        <label>ユーザー名:</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon2">@</span>
                            <input type="text" name="user_name" class="form-control" value="<%= @users.user_name %>" placeholder="Username" aria-describedby="sizing-addon2">
                        </div>
                    </div>
                    <div>
                        <label>メール:</label>
                        <input type="text" name="mail" value="<%= @users.mail %>" class="form-control" placeholder="lifechat@sample.com" aria-describedby="sizing-addon2">
                    </div>
                    <div>
                        <label>年齢:</label>
                        <input type="text" name="age" value="<%= @users.age %>" class="form-control" placeholder="18" aria-describedby="sizing-addon2">
                    </div>
                    <div>
                        <label>自己紹介:</label>
                        <textarea name="introduction" class="form-control" rows="3"><%= @users.introduction %></textarea>
                    </div>

                    <br><br>

                    <div>
                        <div class="validate[minCheckbox]">
                            <label><a href="https://www.google.co.jp/search?q=2段階認証&ie=utf-8&oe=utf-8&gws_rd=cr&ei=wwKjVsSIMaLmmAXc-qvYCw#q=2段階認証とは">二段階認証:</a></label>
                            <input type="checkbox" name="tow_stage_authentication[]" id="1" class="input_checkbox" value="true" <%= @checked.to_s %> >
                            <label for="1">有効にする</label>
                        </div>
                    </div>
                    <br><br>
                    <div>
                        <label>変更を完了するにはパスワードを入力してください:</label>
                        <input type="password" class="form-control" name="password" aria-describedby="sizing-addon2">
                    </div>
                    <p><input type="submit" value="編集完了" class="submit-button"></p>
                </form>
                <form action="/password_change_send" method="POST">
                    <input type="submit" value="パスワードを忘れた方" style="text-align:right;background:transparent;text-decoration:underline;margin:0px;padding: 0px;">
                    <input type="hidden" name="email" value="<%= User.find(session[:user]).mail %>" class="validate[required,custom[email]]" style="background:#fff;">
                </form>
        </div>

    </body>
</html>
