   <center>
      <div class="font" style="color: #7b7a65;">
        <h1>EDIT</h1>
      </div>
      <h2>アカウント内容変更</h2>
    </center>
    <div class="box2">
      <form id="form_1" action="/renew/<%= @users.id %>" method="post">
        <form class="form-container">
          <div>
            <label>名前:</label>
            <input type="text" name="name" value="<%= @users.name %>" class="form-control validate[required]" placeholder="山田太郎" aria-describedby="sizing-addon2">
          </div>
          <div>
            <label>ユーザー名:</label>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">@</span>
              <input type="text" name="user_name" class="form-control validate[required,custom[onlyLetterNumber]]" value="<%= @users.user_name %>" placeholder="Username" aria-describedby="sizing-addon2">
            </div>
          </div>
          <div>
            <label>メール:</label>
            <input type="text" name="mail" value="<%= @users.mail %>" class="form-control validate[required,custom[email]]" placeholder="lifechat@sample.com" aria-describedby="sizing-addon2">
          </div>
          <div>
            <label>年齢:</label>
            <input type="text" name="age" value="<%= @users.age %>" class="form-control validate[custom[onlyNumberSp]]" placeholder="18" aria-describedby="sizing-addon2">
          </div>
          <div>
            <label>自己紹介:</label>
            <textarea name="introduction" class="form-control validate[maxSize[100]]" rows="3"><%= @users.introduction %></textarea>
          </div>
          <br>
          <div>
            <label>変更を完了するにはパスワードを入力してください:</label>
            <input type="password" class="form-control" name="password" aria-describedby="sizing-addon2">
          </div>
          <br>
          <p><input type="submit" value="編集完了" class="btn btn-default btn-sm btn-block"></p>
        </form>
        <form action="/password_change_send" method="POST">
          <input type="submit" value="パスワードを忘れた方" style="text-align:right;background:transparent;text-decoration:underline;margin:0px;padding: 0px;">
          <input type="hidden" name="email" value="<%= User.find(session[:user]).mail %>" class="validate[required,custom[email]]" style="background:#fff;">
        </form>
    </div>
