<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link href="/base.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="./img/favicon.ico">
    <!-- CSS参照 -->
    <link href="base.css" href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" rel="stylesheet">

    <!-- Optional theme -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script crossorigin="anonymous" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <style type="text/css">
/* グリッドを分かり易くするためのカラム背景色等レイアウト */
.demo-content {
  padding: 15px;
  font-size: 18px;
  min-height: 200px;
  main-width: 200px;
  background: #dbdfe5;
  margin-bottom: 10px;
}
      .demo-content.bg-alt {
        background: #abb1b8;
      }
      li {
        list-style-type: none;
      }
      ul {
        list-style-type: none;
      }

    </style>

  </head>
  <body class="main">
    <!-- Header -->
    <header class="navbar navbar-default" style="margin-bottom:0;">
      <div class="container">
        <div class="navbar-header">
          <a href="/"><img src="/img/LifeChatIcon.gif" class="navbar-brand"></a>
          <a class="navbar-brand" href="/friends">Friends・</a>
          <a class="navbar-brand" href="/room">Room・</a>
          <a class="navbar-brand" href="/tl">TimeLine</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <!-- 検索バー -->
            <form action="/search" class="navbar-form navbar-left" method="get" role="search">
              <div class="form-group">
                <input class="form-control" name="search" placeholder="Search" type="text">
              </div>
              <button class="glyphicon glyphicon-search btn btn-default" type="submit"></button>
            </form>
          </li>
          <!-- 検索バーend -->

          <!-- ユーザー名のポップアップ -->
          <li>
            <div class="dropdown">
              <button aria-expanded="true" aria-haspopup="true" class="btn btn-default" style="margin-top:9;" data-toggle="dropdown" id="dropdownMenu1" type="button">
                @<%= User.find(session[:user]).user_name %>
              <span class="glyphicon glyphicon-user"></span>
              </button>
              <ul aria-labelledby="dropdownMenu1" class="dropdown-menu">
                <li>
                  <form action="/edit/<%= User.find(session[:user]).id %>" method="post">
                    <input style="background:transparent;text-decoration:underline;" type="submit" value="アカウント情報を変更">
                  </form>
                </li>
                <li>
                  <form action="/logout" method="get">
                    <input style="background:transparent;text-decoration:underline;" type="submit" value="ログアウト">
                  </form>
                </li>
            </div>
          </li>
              </ul>
      </div>
      <!-- ユーザー名のポップアップend -->
      </nav>
    </header>
    <!-- Header終了 -->
    <!-- メニューボタン -->
    <div class="dropdown">
      <button aria-expanded="true" aria-haspopup="true" class="btn btn-default btn-lg" data-toggle="dropdown" id="dropdownMenu1" type="button">
        <span class="glyphicon glyphicon-align-justify"></span>
      </button>
      <ul aria-labelledby="dropdownMenu1" class="dropdown-menu">
        <li>
          <a href="/room">TopRoom</a>
        </li>
        <li>
          <a href="/create_room">RoomCreate</a>
        </li>
        <li>
          <a href="/my_room_list">RoomLists</a>
        </li>
      </ul>
    </div>
    <!-- メニューボタン終了 -->
    <br><br>
    <!-- Bootstrapグリッド・システム -->
    <div class="container">
      <div class="row">
        <% @list_all.each do |room| %>
          <div class="col-md-4">
            <div class="demo-content bg-alt">
              <!-- <img src="#" class="img-rounded"> -->
              <ul>
                <a href="<%= room.name %>"> <li><%= room.name %></li> </a>
                <li>RoomID=<%= room.id %></li>
                <% unless room.room_admin %>
                  <form action="/delete/<%= room.id %>" method="post">
                    <button type="submit" class="glyphicon glyphicon-trash"></button>
                  </form>
                <% end %>
                <% if Room.where(room_admin_name: session[:user]) %>
                  <form action="/delete/<%= room.id %>" method="post">
                    <button type="submit" class="glyphicon glyphicon-trash"></button>
                  </form>
                <% end %>
              </ul>
            </div>
          <% end %>
          </div>
      </div>
      <!-- Bootstrapグリッド・システム end -->
    </div>

  </body>
</html>
