<script>
$(function(){
	$('button#delete').click(function(){
			var res = confirm("本当にルームを削除しますか?")
			if(res == true){
				$("form#room_delete").submit();
			}
	});
});
</script>
<% room = @room[0] %>
<center>
  <div class="font" style="color: #7b7a65;">
    <h1>EDIT</h1>
  </div>
  <h2>Room内容変更</h2>
</center>
<div class="container">
  <div class="col-md-12">
    <div class="demo-content bg-alt">

      <form id="form_1" action="/room_renew/<%= room.id %>" method="post">

        <label>Room名:</label>
        <input type="text" name="name" value="<%= room.name %>" class="form-control validate[required,maxSize[20]]">
        <br>
        <% if room.token %>
          <label>Room_URL:</label>
          <input type="text" value="http://localhost:4567/join_private_room/<%= room.token %>" class="form-control" >
          <br>
        <% end %>
        <label>ユーザー一覧:</label>
        <div class="input-group">
          <table class="table table-bordered">
            <th>
              名前
            </th>
            <th>
              ユーザー名
            </th>
            <th>
              自己紹介
            </th>
            <th>
              状態
            </th>
            <% room.users.each do |user| %>
              <tr>
                <td>
                  <%= user.name %>
                </td>
                <td>
                  <p>@<%= user.user_name %></p>
                </td>
                <td>
                  <%= user.introduction %>
                </td>
                <td>
                  <% room.userrooms.where(user_id: user.id).each do |user| %>
                    <%= user.status %>
                  <% end %>
                </td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      権限
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">

											<li><a href="javascript:document.admin<%= user.id %>.submit()">管理者にする</a></li>
											<li><a href="javascript:document.normal<%= user.id %>.submit()">権限を無しにする</a></li>
											<li><a href="javascript:document.delete<%= user.id %>.submit()">ブロックする</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>
          </table>
        </div>

        <br>
        <input type="submit" value="編集完了" class="btn btn-default btn-sm btn-block">
      </form>

      <br>

			<button id="delete" class="btn btn-danger btn-sm btn-block">Room削除</button>

    </div>
  </div>
</div>
</center>

            <% room.users.each do |user| %>
<!-- 隠しフォーム  -->
<form name="normal<%= user.id %>" action="/join_member_normal/<%= user.id %>/<%= room.id %>" method="POST"> </form>
<form name="admin<%= user.id %>" action="/join_member_admin/<%= user.id %>/<%= room.id %>" method="POST"> </form>
<form name="delete<%= user.id %>" action="/join_member_delete/<%= user.id %>/<%= room.id %>" method="POST"> </form>
<form id="room_delete" action="/room_delete/<%= room.id %>" method="post"> </form>
<!-- 隠しフォーム  -->
<% end %>
